using System;
using Swissframe.Thermos.Common.Contract;
using Swissframe.Thermos.Control.Contract.HeatPump;

namespace Swissframe.Util.StateEventEditor.Common.Test
{
    public class Registry
    {
    {{#registryEntries}}
        {{{.}}}
    {{/registryEntries}}
    }
}